<div class="cd-section" id="teams">
  <div class="team-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">The Executive Team 5</h2>
          <h4 class="description">
            This is the paragraph where you can write more details about your
            team. Keep you user engaged by providing meaningful information.
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-profile profile-bg">
            <div
              class="card-header"
              style="background-image: url('assets/img/ben-konfrst.jpg')"
            >
              <div class="card-avatar">
                <a href="javascript:void(0)">
                  <img class="img img-raised" src="assets/img/ryan.jpg" />
                </a>
              </div>
            </div>
            <div class="card-body">
              <h3 class="card-title">Byron Reese</h3>
              <h6 class="category text-primary">Credit Analyst</h6>
              <p class="card-description">
                Multi-Cloud Object Storage and Data Mobility: A GigaOm Market
                Landscape Report has been announced...
              </p>
            </div>
            <div class="card-footer">
              <div class="follow float-left">
                <a
                  class="btn btn-primary btn-sm btn-simple"
                  href="javascript:void(0)"
                >
                  <i class="tim-icons icon-check-2"> </i> Following
                </a>
              </div>
              <div class="d-inline float-right d-md-block">
                <a
                  class="btn btn-icon btn-dribbble btn-round"
                  href="javascript:void(0)"
                >
                  <i class="fab fa-dribbble"> </i>
                </a>
                <a
                  class="btn btn-icon btn-linkedin btn-round"
                  href="javascript:void(0)"
                >
                  <i class="fab fa-linkedin"> </i>
                </a>
                <a
                  class="btn btn-icon btn-behance btn-round"
                  href="javascript:void(0)"
                >
                  <i class="fab fa-behance"> </i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile profile-bg">
            <div
              class="card-header"
              style="background-image: url('assets/img/ruvim-noga.jpg')"
            >
              <div class="card-avatar">
                <a href="javascript:void(0)">
                  <img class="img img-raised" src="assets/img/lora.jpg" />
                </a>
              </div>
            </div>
            <div class="card-body">
              <h3 class="card-title">Melanie Paisley</h3>
              <h6 class="category text-primary">Writer</h6>
              <p class="card-description">
                Over the years, advancement in CRM technology has reshaped the
                way SMBs and SMEs manage their workflows...
              </p>
            </div>
            <div class="card-footer">
              <div class="follow float-left">
                <a class="btn btn-primary btn-sm" href="javascript:void(0)">
                  Follow
                </a>
              </div>
              <div class="d-inline float-right d-md-block">
                <a
                  class="btn btn-icon btn-dribbble btn-round"
                  href="javascript:void(0)"
                >
                  <i class="fab fa-dribbble"> </i>
                </a>
                <a
                  class="btn btn-icon btn-linkedin btn-round"
                  href="javascript:void(0)"
                >
                  <i class="fab fa-linkedin"> </i>
                </a>
                <a
                  class="btn btn-icon btn-behance btn-round"
                  href="javascript:void(0)"
                >
                  <i class="fab fa-behance"> </i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile profile-bg">
            <div
              class="card-header"
              style="background-image: url('assets/img/sendra-martorell.jpg')"
            >
              <div class="card-avatar">
                <a href="javascript:void(0)">
                  <img class="img img-raised" src="assets/img/ryan.png" />
                </a>
              </div>
            </div>
            <div class="card-body">
              <h3 class="card-title">Jon Collins</h3>
              <h6 class="category text-primary">Data Specialist</h6>
              <p class="card-description">
                Scaling DevOps: Strategy &amp; Technical Considerations for
                Successful Enterprise DevOps
              </p>
            </div>
            <div class="card-footer">
              <div class="follow float-left">
                <a
                  class="btn btn-primary btn-sm btn-simple"
                  href="javascript:void(0)"
                >
                  <i class="tim-icons icon-check-2"> </i> Following
                </a>
              </div>
              <div class="d-inline float-right d-md-block">
                <a
                  class="btn btn-icon btn-dribbble btn-round"
                  href="javascript:void(0)"
                >
                  <i class="fab fa-dribbble"> </i>
                </a>
                <a
                  class="btn btn-icon btn-linkedin btn-round"
                  href="javascript:void(0)"
                >
                  <i class="fab fa-linkedin"> </i>
                </a>
                <a
                  class="btn btn-icon btn-behance btn-round"
                  href="javascript:void(0)"
                >
                  <i class="fab fa-behance"> </i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
