<div class="cd-section" id="teams">
  <div class="team-1">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Our Awesome Team 1</h2>
          <h4 class="description">
            This is the paragraph where you can write more details about your
            team. Keep you user engaged by providing meaningful information.
          </h4>
        </div>
      </div>
      <div class="row">
        <carousel [showIndicators]="false" class="carousel-team">
          <slide>
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <h1 class="title">Charlie Watson</h1>
                </div>
                <div class="col-md-4">
                  <img
                    alt="First slide"
                    class="d-block"
                    src="assets/img/charlie.jpg"
                  />
                </div>
                <div class="col-md-4">
                  <div class="wrapper">
                    <div class="category">
                      <strong> Position: </strong> Artist <br />

                      <strong> Experience: </strong> 5 years
                    </div>
                    <div class="description">
                      Artist is a term applied to a person who engages in an
                      activity deemed to be an art. An artist also may be
                      defined unofficially as "a person who expresses him- or
                      herself through a medium". He is a descriptive term
                      applied to a person who engages in an activity deemed to
                      be an art. An artist also may be defined unofficially as
                      "a person who expresses him- or herself through a medium".
                    </div>
                    <div class="footer">
                      <a
                        class="btn btn-icon btn-twitter btn-round"
                        href="javascript:void(0)"
                      >
                        <i class="fab fa-twitter"> </i>
                      </a>
                      <a
                        class="btn btn-icon btn-facebook btn-round"
                        href="javascript:void(0)"
                      >
                        <i class="fab fa-facebook-square"> </i>
                      </a>
                      <a
                        class="btn btn-icon btn-dribbble btn-round"
                        href="javascript:void(0)"
                      >
                        <i class="fab fa-dribbble"> </i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </slide>
          <slide>
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <h1 class="title">Quavo Austen</h1>
                </div>
                <div class="col-md-4">
                  <img
                    alt="First slide"
                    class="d-block"
                    src="assets/img/tom-klein.jpg"
                  />
                </div>
                <div class="col-md-4">
                  <div class="wrapper">
                    <div class="category">
                      <strong> Position: </strong> Actor <br />

                      <strong> Experience: </strong> 1 year
                    </div>
                    <div class="description">
                      Artist is a term applied to a person who engages in an
                      activity deemed to be an art. An artist also may be
                      defined unofficially as "a person who expresses him- or
                      herself through a medium". He is a descriptive term
                      applied to a person who engages in an activity deemed to
                      be an art. An artist also may be defined unofficially as
                      "a person who expresses him- or herself through a medium".
                    </div>
                    <div class="footer">
                      <a
                        class="btn btn-icon btn-twitter btn-round"
                        href="javascript:void(0)"
                      >
                        <i class="fab fa-twitter"> </i>
                      </a>
                      <a
                        class="btn btn-icon btn-facebook btn-round"
                        href="javascript:void(0)"
                      >
                        <i class="fab fa-facebook-square"> </i>
                      </a>
                      <a
                        class="btn btn-icon btn-dribbble btn-round"
                        href="javascript:void(0)"
                      >
                        <i class="fab fa-dribbble"> </i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </slide>
          <slide>
            <div class="container">
              <div class="row">
                <div class="col-md-4"><h1 class="title">Lucy</h1></div>
                <div class="col-md-4">
                  <img
                    alt="First slide"
                    class="d-block"
                    src="assets/img/lucy.jpg"
                  />
                </div>
                <div class="col-md-4">
                  <div class="wrapper">
                    <div class="category">
                      <strong> Position: </strong> CEO <br />

                      <strong> Experience: </strong> 7 years
                    </div>
                    <div class="description">
                      Artist is a term applied to a person who engages in an
                      activity deemed to be an art. An artist also may be
                      defined unofficially as "a person who expresses him- or
                      herself through a medium". He is a descriptive term
                      applied to a person who engages in an activity deemed to
                      be an art. An artist also may be defined unofficially as
                      "a person who expresses him- or herself through a medium".
                    </div>
                    <div class="footer">
                      <a
                        class="btn btn-icon btn-twitter btn-round"
                        href="javascript:void(0)"
                      >
                        <i class="fab fa-twitter"> </i>
                      </a>
                      <a
                        class="btn btn-icon btn-facebook btn-round"
                        href="javascript:void(0)"
                      >
                        <i class="fab fa-facebook-square"> </i>
                      </a>
                      <a
                        class="btn btn-icon btn-dribbble btn-round"
                        href="javascript:void(0)"
                      >
                        <i class="fab fa-dribbble"> </i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </slide>
        </carousel>
      </div>
    </div>
  </div>
  <div class="team-2">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">The Executive Team 2</h2>
          <h4 class="description">
            This is the paragraph where you can write more details about your
            team. Keep you user engaged by providing meaningful information.
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-image">
              <h4 class="title">Sofia Scarlett</h4>
              <div class="dropdown" dropdown>
                <button
                  aria-expanded="false"
                  class="btn btn-link dropdown-toggle btn-icon dropdown-toggle"
                  data-toggle="dropdown"
                  dropdownToggle
                  type="button"
                >
                  <i class="tim-icons icon-settings-gear-63"> </i>
                </button>
                <div
                  class="dropdown-menu dropdown-menu-right"
                  *dropdownMenu
                  x-placement="bottom-end"
                >
                  <a class="dropdown-item" href="javascript:void(0)">
                    Edit Profile
                  </a>
                  <a class="dropdown-item" href="javascript:void(0)">
                    Settings
                  </a>
                  <a class="dropdown-item" href="javascript:void(0)">
                    Log out
                  </a>
                </div>
              </div>
              <a href="javascript:void(0)">
                <img
                  class="img img-raised rounded"
                  src="assets/img/emily.jpg"
                />
              </a>
            </div>
            <div class="card-body">
              <hr class="line-primary" />

              <h3 class="job-title">UX Designer</h3>
              <div class="table-responsive">
                <table class="table tablesorter" id="plain-table">
                  <tbody>
                    <tr>
                      <td class="text-left">
                        <i class="tim-icons icon-atom"> </i> Skills
                      </td>
                      <td class="text-right">UI, UX</td>
                    </tr>
                    <tr>
                      <td class="text-left">
                        <i class="tim-icons icon-user-run"> </i> Hobbies
                      </td>
                      <td class="text-right">Cookery</td>
                    </tr>
                    <tr>
                      <td class="text-left">
                        <i class="tim-icons icon-chart-bar-32"> </i> Level
                      </td>
                      <td class="text-right">• • •</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-image">
              <h4 class="title">Dylan Wyatt</h4>
              <div class="dropdown" dropdown>
                <button
                  aria-expanded="false"
                  class="btn btn-link dropdown-toggle btn-icon dropdown-toggle"
                  data-toggle="dropdown"
                  dropdownToggle
                  type="button"
                >
                  <i class="tim-icons icon-settings-gear-63"> </i>
                </button>
                <div
                  class="dropdown-menu dropdown-menu-right"
                  *dropdownMenu
                  x-placement="bottom-end"
                >
                  <a class="dropdown-item" href="javascript:void(0)">
                    Edit Profile
                  </a>
                  <a class="dropdown-item" href="javascript:void(0)">
                    Settings
                  </a>
                  <a class="dropdown-item" href="javascript:void(0)">
                    Log out
                  </a>
                </div>
              </div>
              <a href="javascript:void(0)">
                <img
                  class="img img-raised rounded"
                  src="assets/img/michael.jpg"
                />
              </a>
            </div>
            <div class="card-body">
              <hr class="line-primary" />

              <h3 class="job-title">Team Lead</h3>
              <div class="table-responsive">
                <table class="table tablesorter" id="plain-table">
                  <tbody>
                    <tr>
                      <td class="text-left">
                        <i class="tim-icons icon-atom"> </i> Skills
                      </td>
                      <td class="text-right">Leadership</td>
                    </tr>
                    <tr>
                      <td class="text-left">
                        <i class="tim-icons icon-user-run"> </i> Hobbies
                      </td>
                      <td class="text-right">Skiing</td>
                    </tr>
                    <tr>
                      <td class="text-left">
                        <i class="tim-icons icon-chart-bar-32"> </i> Level
                      </td>
                      <td class="text-right">• • • • •</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-image">
              <h4 class="title">Mila Skylar</h4>
              <div class="dropdown" dropdown>
                <button
                  aria-expanded="false"
                  class="btn btn-link dropdown-toggle btn-icon dropdown-toggle"
                  data-toggle="dropdown"
                  dropdownToggle
                  type="button"
                >
                  <i class="tim-icons icon-settings-gear-63"> </i>
                </button>
                <div
                  class="dropdown-menu dropdown-menu-right"
                  *dropdownMenu
                  x-placement="bottom-end"
                >
                  <a class="dropdown-item" href="javascript:void(0)">
                    Edit Profile
                  </a>
                  <a class="dropdown-item" href="javascript:void(0)">
                    Settings
                  </a>
                  <a class="dropdown-item" href="javascript:void(0)">
                    Log out
                  </a>
                </div>
              </div>
              <a href="javascript:void(0)">
                <img
                  class="img img-raised rounded"
                  src="assets/img/julie.jpg"
                />
              </a>
            </div>
            <div class="card-body">
              <hr class="line-primary" />

              <h3 class="job-title">Content writer</h3>
              <div class="table-responsive">
                <table class="table tablesorter" id="plain-table">
                  <tbody>
                    <tr>
                      <td class="text-left">
                        <i class="tim-icons icon-atom"> </i> Skills
                      </td>
                      <td class="text-right">Artistry</td>
                    </tr>
                    <tr>
                      <td class="text-left">
                        <i class="tim-icons icon-user-run"> </i> Hobbies
                      </td>
                      <td class="text-right">Reading</td>
                    </tr>
                    <tr>
                      <td class="text-left">
                        <i class="tim-icons icon-chart-bar-32"> </i> Level
                      </td>
                      <td class="text-right">• • • •</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="team-3">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">The Executive Team 3</h2>
          <h4 class="description">
            This is the paragraph where you can write more details about your
            team. Keep you user engaged by providing meaningful information.
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-5 ml-auto mr-auto">
          <div class="card card-profile" data-background="full">
            <a href="javascript:void(0)">
              <img
                class="img img-raised rounded"
                src="assets/img/willy-dade.jpg"
              />
            </a>
            <div class="card-image">
              <h4 class="title">Jane Doe</h4>
              <div class="dropdown" dropdown>
                <button
                  aria-expanded="false"
                  class="btn btn-link dropdown-toggle btn-icon dropdown-toggle"
                  data-toggle="dropdown"
                  dropdownToggle
                  type="button"
                >
                  <i class="tim-icons icon-settings-gear-63"> </i>
                </button>
                <div
                  class="dropdown-menu dropdown-menu-right"
                  *dropdownMenu
                  x-placement="bottom-end"
                >
                  <a class="dropdown-item" href="javascript:void(0)">
                    Edit Profile
                  </a>
                  <a class="dropdown-item" href="javascript:void(0)">
                    Settings
                  </a>
                  <a class="dropdown-item" href="javascript:void(0)">
                    Log out
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <hr class="line-primary" />

              <h3 class="job-title">Scrum Master</h3>
              <div class="table-responsive">
                <table class="table tablesorter" id="plain-table">
                  <tbody>
                    <tr>
                      <td class="text-left">
                        <i class="tim-icons icon-atom"> </i> Skills
                      </td>
                      <td class="text-right">Organization</td>
                    </tr>
                    <tr>
                      <td class="text-left">
                        <i class="tim-icons icon-user-run"> </i> Hobbies
                      </td>
                      <td class="text-right">Jogging</td>
                    </tr>
                    <tr>
                      <td class="text-left">
                        <i class="tim-icons icon-chart-bar-32"> </i> Level
                      </td>
                      <td class="text-right">• • • • •</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 ml-auto mr-auto">
          <div class="card card-profile" data-background="full">
            <a href="javascript:void(0)">
              <img
                class="img img-raised rounded"
                src="assets/img/tom-klein.jpg"
              />
            </a>
            <div class="card-image">
              <h4 class="title">Tom Klein</h4>
              <div class="dropdown" dropdown>
                <button
                  aria-expanded="false"
                  class="btn btn-link dropdown-toggle btn-icon dropdown-toggle"
                  data-toggle="dropdown"
                  dropdownToggle
                  type="button"
                >
                  <i class="tim-icons icon-settings-gear-63"> </i>
                </button>
                <div
                  class="dropdown-menu dropdown-menu-right"
                  *dropdownMenu
                  x-placement="bottom-end"
                >
                  <a class="dropdown-item" href="javascript:void(0)">
                    Edit Profile
                  </a>
                  <a class="dropdown-item" href="javascript:void(0)">
                    Settings
                  </a>
                  <a class="dropdown-item" href="javascript:void(0)">
                    Log out
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <hr class="line-primary" />

              <h3 class="job-title">CTO</h3>
              <div class="table-responsive">
                <table class="table tablesorter" id="plain-table">
                  <tbody>
                    <tr>
                      <td class="text-left">
                        <i class="tim-icons icon-atom"> </i> Skills
                      </td>
                      <td class="text-right">Negotiation</td>
                    </tr>
                    <tr>
                      <td class="text-left">
                        <i class="tim-icons icon-user-run"> </i> Hobbies
                      </td>
                      <td class="text-right">Graffiti</td>
                    </tr>
                    <tr>
                      <td class="text-left">
                        <i class="tim-icons icon-chart-bar-32"> </i> Level
                      </td>
                      <td class="text-right">• • • •</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 ml-auto mr-auto">
          <div class="card card-profile" data-background="full">
            <a href="javascript:void(0)">
              <img
                class="img img-raised rounded"
                src="assets/img/kareya-saleh.jpg"
              />
            </a>
            <div class="card-image">
              <h4 class="title">Hannah Khan</h4>
              <div class="dropdown" dropdown>
                <button
                  aria-expanded="false"
                  class="btn btn-link dropdown-toggle btn-icon dropdown-toggle"
                  data-toggle="dropdown"
                  dropdownToggle
                  type="button"
                >
                  <i class="tim-icons icon-settings-gear-63"> </i>
                </button>
                <div
                  class="dropdown-menu dropdown-menu-right"
                  *dropdownMenu
                  x-placement="bottom-end"
                >
                  <a class="dropdown-item" href="javascript:void(0)">
                    Edit Profile
                  </a>
                  <a class="dropdown-item" href="javascript:void(0)">
                    Settings
                  </a>
                  <a class="dropdown-item" href="javascript:void(0)">
                    Log out
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <hr class="line-primary" />

              <h3 class="job-title">Brand Strategist</h3>
              <div class="table-responsive">
                <table class="table tablesorter" id="plain-table">
                  <tbody>
                    <tr>
                      <td class="text-left">
                        <i class="tim-icons icon-atom"> </i> Skills
                      </td>
                      <td class="text-right">Decision Making</td>
                    </tr>
                    <tr>
                      <td class="text-left">
                        <i class="tim-icons icon-user-run"> </i> Hobbies
                      </td>
                      <td class="text-right">Martial arts</td>
                    </tr>
                    <tr>
                      <td class="text-left">
                        <i class="tim-icons icon-chart-bar-32"> </i> Level
                      </td>
                      <td class="text-right">• • •</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="team-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">The Executive Team 4</h2>
          <h4 class="description">
            This is the paragraph where you can write more details about your
            team. Keep you user engaged by providing meaningful information.
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 ml-auto mr-auto">
          <div class="card card-profile card-horizontal">
            <div class="row">
              <div class="col-xl-7">
                <div class="card-image no-mask">
                  <a href="javascript:void(0)">
                    <img class="img" src="assets/img/comete-coco.jpg" />
                  </a>
                </div>
              </div>
              <div class="col-xl-5">
                <div class="card-body mt-3">
                  <h6 class="card-category">Name</h6>
                  <h4 class="card-title">Willian Pearce</h4>
                  <br />

                  <h6 class="card-category">Position</h6>
                  <h4 class="card-title">Project Manager</h4>
                  <br />

                  <div class="row">
                    <div class="col-lg-4">
                      <h6 class="card-category">Followers</h6>
                      <h4 class="card-title">367</h4>
                    </div>
                    <div class="col-lg-4">
                      <h6 class="card-category">Projects</h6>
                      <h4 class="card-title">31</h4>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <h6 class="card-category">Team</h6>
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img alt="Image placeholder" src="assets/img/james.jpg" />
                  </a>
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img alt="Image placeholder" src="assets/img/ryan.jpg" />
                  </a>
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img alt="Image placeholder" src="assets/img/lora.jpg" />
                  </a>
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img alt="Image placeholder" src="assets/img/mike.jpg" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="team-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">The Executive Team 5</h2>
          <h4 class="description">
            This is the paragraph where you can write more details about your
            team. Keep you user engaged by providing meaningful information.
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-profile profile-bg">
            <div
              class="card-header"
              style="background-image: url('assets/img/ben-konfrst.jpg')"
            >
              <div class="card-avatar">
                <a href="javascript:void(0)">
                  <img class="img img-raised" src="assets/img/ryan.jpg" />
                </a>
              </div>
            </div>
            <div class="card-body">
              <h3 class="card-title">Byron Reese</h3>
              <h6 class="category text-primary">Credit Analyst</h6>
              <p class="card-description">
                Multi-Cloud Object Storage and Data Mobility: A GigaOm Market
                Landscape Report has been announced...
              </p>
            </div>
            <div class="card-footer">
              <div class="follow float-left">
                <a
                  class="btn btn-primary btn-sm btn-simple"
                  href="javascript:void(0)"
                >
                  <i class="tim-icons icon-check-2"> </i> Following
                </a>
              </div>
              <div class="d-inline float-right d-md-block">
                <a
                  class="btn btn-icon btn-dribbble btn-round"
                  href="javascript:void(0)"
                >
                  <i class="fab fa-dribbble"> </i>
                </a>
                <a
                  class="btn btn-icon btn-linkedin btn-round"
                  href="javascript:void(0)"
                >
                  <i class="fab fa-linkedin"> </i>
                </a>
                <a
                  class="btn btn-icon btn-behance btn-round"
                  href="javascript:void(0)"
                >
                  <i class="fab fa-behance"> </i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile profile-bg">
            <div
              class="card-header"
              style="background-image: url('assets/img/ruvim-noga.jpg')"
            >
              <div class="card-avatar">
                <a href="javascript:void(0)">
                  <img class="img img-raised" src="assets/img/lora.jpg" />
                </a>
              </div>
            </div>
            <div class="card-body">
              <h3 class="card-title">Melanie Paisley</h3>
              <h6 class="category text-primary">Writer</h6>
              <p class="card-description">
                Over the years, advancement in CRM technology has reshaped the
                way SMBs and SMEs manage their workflows...
              </p>
            </div>
            <div class="card-footer">
              <div class="follow float-left">
                <a class="btn btn-primary btn-sm" href="javascript:void(0)">
                  Follow
                </a>
              </div>
              <div class="d-inline float-right d-md-block">
                <a
                  class="btn btn-icon btn-dribbble btn-round"
                  href="javascript:void(0)"
                >
                  <i class="fab fa-dribbble"> </i>
                </a>
                <a
                  class="btn btn-icon btn-linkedin btn-round"
                  href="javascript:void(0)"
                >
                  <i class="fab fa-linkedin"> </i>
                </a>
                <a
                  class="btn btn-icon btn-behance btn-round"
                  href="javascript:void(0)"
                >
                  <i class="fab fa-behance"> </i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile profile-bg">
            <div
              class="card-header"
              style="background-image: url('assets/img/sendra-martorell.jpg')"
            >
              <div class="card-avatar">
                <a href="javascript:void(0)">
                  <img class="img img-raised" src="assets/img/ryan.png" />
                </a>
              </div>
            </div>
            <div class="card-body">
              <h3 class="card-title">Jon Collins</h3>
              <h6 class="category text-primary">Data Specialist</h6>
              <p class="card-description">
                Scaling DevOps: Strategy &amp; Technical Considerations for
                Successful Enterprise DevOps
              </p>
            </div>
            <div class="card-footer">
              <div class="follow float-left">
                <a
                  class="btn btn-primary btn-sm btn-simple"
                  href="javascript:void(0)"
                >
                  <i class="tim-icons icon-check-2"> </i> Following
                </a>
              </div>
              <div class="d-inline float-right d-md-block">
                <a
                  class="btn btn-icon btn-dribbble btn-round"
                  href="javascript:void(0)"
                >
                  <i class="fab fa-dribbble"> </i>
                </a>
                <a
                  class="btn btn-icon btn-linkedin btn-round"
                  href="javascript:void(0)"
                >
                  <i class="fab fa-linkedin"> </i>
                </a>
                <a
                  class="btn btn-icon btn-behance btn-round"
                  href="javascript:void(0)"
                >
                  <i class="fab fa-behance"> </i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
