<div class="cd-section" id="headers">
  <div class="header header-3">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
      <div class="container">
        <div class="navbar-translate">
          <button
            aria-controls="navbarSupportedContent"
            aria-label="Toggle navigation"
            class="navbar-toggler"
            [attr.aria-expanded]="!isCollapsed1"
            (click)="isCollapsed1 = !isCollapsed1"
            id="example-header-3"
            type="button"
          >
            <span class="navbar-toggler-bar bar1"> </span>
            <span class="navbar-toggler-bar bar2"> </span>
            <span class="navbar-toggler-bar bar3"> </span>
          </button>
          <a class="navbar-brand" href="javascript:void(0)"> Creative Tim </a>
        </div>
        <div
          class="navbar-collapse"
          [isAnimated]="true"
          [collapse]="isCollapsed1"
          id="example-header-3"
        >
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a> BLK• <span> PRO </span> </a>
              </div>
              <div class="col-6 collapse-close text-right">
                <button
                  aria-controls="navigation-index"
                  aria-label="Toggle navigation"
                  class="navbar-toggler"
                  [attr.aria-expanded]="!isCollapsed1"
                  (click)="isCollapsed1 = !isCollapsed1"
                  id="example-header-3"
                  type="button"
                >
                  <i class="tim-icons icon-simple-remove"> </i>
                </button>
              </div>
            </div>
          </div>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="javascript:void(0)"> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)"> About Us </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)"> Contact Us </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="page-header header-filter">
      <div class="content-center">
        <div class="row">
          <div class="col-lg-5 col-md-8 col-12 ml-auto mr-auto positioned">
            <h1 class="title">Build stunning websites and apps</h1>
            <p class="description">
              Meet Wingman, a robust suite of styled pages and components,
              powered by Bootstrap 4. The ideal starting point for product
              landing pages, stylish web-apps and complete company websites.
            </p>
            <a class="btn btn-lg btn-primary" href="javascript:void(0)">
              Purchase Now
            </a>
          </div>
          <div class="col-md-12 col-md-6">
            <section class="center glide1">
              <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                  <li class="glide__slide">
                    <img
                      height="500"
                      src="assets/img/mark-harrison.jpg"
                      width="450"
                    />
                  </li>
                  <li class="glide__slide">
                    <img
                      height="500"
                      src="assets/img/steven-roe.jpg"
                      width="450"
                    />
                  </li>
                  <li class="glide__slide">
                    <img
                      height="500"
                      src="assets/img/rezaul-karim.jpg"
                      width="450"
                    />
                  </li>
                  <li class="glide__slide">
                    <img
                      height="500"
                      src="assets/img/pawel-nolbert.jpg"
                      width="450"
                    />
                  </li>
                  <li class="glide__slide">
                    <img
                      height="500"
                      src="assets/img/serge-kutuzov.jpg"
                      width="450"
                    />
                  </li>
                </ul>
                <div data-glide-el="controls">
                  <button
                    class="btn btn-round btn-icon btn-primary btn-simple slick-prev slick-arrow"
                    data-glide-dir="<"
                    aria-label="Previous"
                    type="button"
                    style=""
                  >
                    <i class="tim-icons icon-minimal-left"></i>
                  </button>
                  <button
                    class="btn btn-round btn-icon btn-primary btn-simple slick-next slick-arrow"
                    data-glide-dir=">"
                    aria-label="Next"
                    type="button"
                    style=""
                  >
                    <i class="tim-icons icon-minimal-right"></i>
                  </button>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
