<div class="cd-section" id="features">
  <div class="features-1">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <span class="badge badge-primary badge-pill"> Insight </span>
          <h1 class="title">Full-Funnel Social Analytics</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="info info-hover">
            <div class="icon icon-primary">
              <img class="bg-blob" src="assets/img/feature-blob/primary.png" />

              <i class="tim-icons icon-user-run"> </i>
            </div>
            <h4 class="info-title">Social Conversations</h4>
            <p class="description">
              Gain access to the demographics, psychographics, and location of
              unique people.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info info-hover">
            <div class="icon icon-success">
              <img class="bg-blob" src="assets/img/feature-blob/success.png" />

              <i class="tim-icons icon-atom"> </i>
            </div>
            <h4 class="info-title">Analyze Performance</h4>
            <p class="description">
              Unify data from Facebook, Instagram, Twitter, LinkedIn, and
              Youtube to gain rich insights.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info info-hover">
            <div class="icon icon-warning">
              <img class="bg-blob" src="assets/img/feature-blob/warning.png" />

              <i class="tim-icons icon-gift-2"> </i>
            </div>
            <h4 class="info-title">Measure Conversions</h4>
            <p class="description">
              Track actions taken on your website, understand the impact on your
              bottom line.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="features-2">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3 col-md-8 mr-auto text-left">
          <h1 class="title">You should be here!</h1>
          <p class="description">
            5,000 capacity venue, holding some of the latest technology lighting
            with a 24 colour laser system Amnesia is one of the islands most
            legendary clubs.
          </p>
          <a class="btn btn-info btn-simple" href="javascript:void(0)">
            Learn more <i class="tim-icons icon-alert-circle-exc"> </i>
          </a>
        </div>
        <div class="col-lg-8 col-md-12">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="info text-left bg-info">
                <div class="icon icon-white">
                  <i class="tim-icons icon-satisfied"> </i>
                </div>
                <h4 class="info-title">Best Quality</h4>
                <p class="description">
                  Gain access to the demographics, psychographics, and location
                  of unique people.
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="info text-left bg-danger info-raised">
                <div class="icon icon-white">
                  <i class="tim-icons icon-palette"> </i>
                </div>
                <h4 class="info-title">Awesome Design</h4>
                <p class="description">
                  Gain access to the demographics, psychographics, and location
                  of unique people.
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="info text-left bg-default">
                <div class="icon icon-white">
                  <i class="tim-icons icon-spaceship"> </i>
                </div>
                <h4 class="info-title">Great Performance</h4>
                <p class="description">
                  Gain access to the demographics, psychographics, and location
                  of unique people.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="info text-left bg-primary">
                <div class="icon icon-white">
                  <i class="tim-icons icon-user-run"> </i>
                </div>
                <h4 class="info-title">Fast Development</h4>
                <p class="description">
                  Gain access to the demographics, psychographics, and location
                  of unique people.
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="info text-left bg-warning info-raised">
                <div class="icon icon-white">
                  <i class="tim-icons icon-bulb-63"> </i>
                </div>
                <h4 class="info-title">Super Fresh</h4>
                <p class="description">
                  Gain access to the demographics, psychographics, and location
                  of unique people.
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="info text-left bg-success">
                <div class="icon icon-default">
                  <i class="tim-icons icon-paper"> </i>
                </div>
                <h4 class="info-title text-muted">Organized Content</h4>
                <p class="description text-muted">
                  Gain access to the demographics, psychographics, and location
                  of unique people.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="features-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 mr-auto ml-auto">
          <h1 class="title">Trello lets you work more.</h1>
          <h4 class="description">
            Trello's boards, lists, and cards enable you to organize and
            prioritize your projects in a fun, flexible and rewarding way.
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 ml-auto">
          <div class="info info-horizontal">
            <div class="icon icon-success">
              <img class="bg-blob" src="assets/img/feature-blob/success.png" />

              <i class="tim-icons icon-html5"> </i>
            </div>
            <div class="description">
              <h3 class="info-title">For Developers</h3>
              <p>
                The moment you use Black Kit, you know you've never felt
                anything like it. With a single use, this powerfull UI Kit lets
                you do more than ever before.
              </p>
              <a class="btn btn-info btn-link" href="javascript:void(0)">
                Explore now <i class="tim-icons icon-minimal-right"> </i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-5 mr-auto">
          <div class="info info-horizontal">
            <div class="icon icon-warning">
              <img class="bg-blob" src="assets/img/feature-blob/warning.png" />

              <i class="tim-icons icon-heart-2"> </i>
            </div>
            <div class="description">
              <h3 class="info-title">For Designers</h3>
              <p>
                The moment you use Black Kit, you know you've never felt
                anything like it. With a single use, this powerfull UI Kit lets
                you do more than ever before.
              </p>
              <a class="btn btn-info btn-link" href="javascript:void(0)">
                Explore now <i class="tim-icons icon-minimal-right"> </i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 ml-auto">
          <div class="info info-horizontal">
            <div class="icon icon-danger">
              <img class="bg-blob" src="assets/img/feature-blob/danger.png" />

              <i class="tim-icons icon-chart-bar-32"> </i>
            </div>
            <div class="description">
              <h3 class="info-title">For Bootstrap Lovers</h3>
              <p>
                The moment you use Black Kit, you know you've never felt
                anything like it. With a single use, this powerfull UI Kit lets
                you do more than ever before.
              </p>
              <a class="btn btn-info btn-link" href="javascript:void(0)">
                Explore now <i class="tim-icons icon-minimal-right"> </i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-5 mr-auto">
          <div class="info info-horizontal">
            <div class="icon icon-info">
              <img class="bg-blob" src="assets/img/feature-blob/info.png" />

              <i class="tim-icons icon-paper"> </i>
            </div>
            <div class="description">
              <h3 class="info-title">
                Documentation
                <span class="badge badge-info badge-pill"> v2.0 </span>
              </h3>
              <p>
                The moment you use Black Kit, you know you've never felt
                anything like it. With a single use, this powerfull UI Kit lets
                you do more than ever before.
              </p>
              <a class="btn btn-info btn-link" href="javascript:void(0)">
                Explore now <i class="tim-icons icon-minimal-right"> </i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="features-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3 mr-auto text-left">
          <h1 class="title">You should be here!</h1>
          <p class="description">
            5,000 capacity venue, holding some of the latest technology lighting
            with a 24 colour laser system Amnesia is one of the islands most
            legendary clubs.
          </p>
          <a class="btn btn-primary mt-3" href="javascript:void(0)">
            Learn more <i class="tim-icons icon-double-right"> </i>
          </a>
        </div>
        <div class="col-lg-8 p-sm-0">
          <div class="row">
            <div class="col-md-6">
              <div class="info info-primary">
                <div class="icon icon-white">
                  <i class="tim-icons icon-satisfied"> </i>
                </div>
                <h4 class="info-title">Best Quality</h4>
                <p class="description">
                  Gain access to the demographics, psychographics, and location
                  of unique people.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info info-primary">
                <div class="icon icon-white">
                  <i class="tim-icons icon-palette"> </i>
                </div>
                <h4 class="info-title">Awesome Design</h4>
                <p class="description">
                  Gain access to the demographics, psychographics, and location
                  of unique people.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="info info-primary">
                <div class="icon icon-white">
                  <i class="tim-icons icon-user-run"> </i>
                </div>
                <h4 class="info-title">Fast Development</h4>
                <p class="description">
                  Gain access to the demographics, psychographics, and location
                  of unique people.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info info-primary">
                <div class="icon icon-white">
                  <i class="tim-icons icon-bulb-63"> </i>
                </div>
                <h4 class="info-title">Super Fresh</h4>
                <p class="description">
                  Gain access to the demographics, psychographics, and location
                  of unique people.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="features features-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="featured-image">
            <img
              alt=""
              height="600"
              src="assets/img/pawel-nolbert.jpg"
              width="500"
            />
          </div>
        </div>
        <div class="col-lg-6 mt-md-5">
          <h6 class="category">Read this first</h6>
          <h1 class="title">Company values</h1>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="info">
                <h4 class="info-title">Honest</h4>
                <p class="description">
                  Gain access to the demographics, psychographics, and location
                  of unique people.
                </p>
              </div>
              <div class="info">
                <h4 class="info-title">Efficient</h4>
                <p class="description">
                  Gain access to the demographics, psychographics, and location
                  of unique people.
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="info">
                <h4 class="info-title">Helpful</h4>
                <p class="description">
                  Gain access to the demographics, psychographics, and location
                  of unique people.
                </p>
              </div>
              <div class="info">
                <h4 class="info-title">Quality</h4>
                <p class="description">
                  Gain access to the demographics, psychographics, and location
                  of unique people.
                </p>
              </div>
            </div>
            <a class="btn btn-primary btn-link ml-4" href="javascript:void(0)">
              Why we are different
              <i class="tim-icons icon-double-right"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="features-6">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="info info-horizontal info-default">
            <div class="icon icon-warning">
              <i class="tim-icons icon-html5"> </i>
            </div>
            <div class="description">
              <h3 class="info-title">For Developers</h3>
              <p>
                The moment you use Black Kit, you know you've never felt
                anything like it. With a single use, this powerfull UI Kit lets
                you do more than ever before.
              </p>
            </div>
          </div>
          <div class="info info-horizontal info-default">
            <div class="icon icon-info">
              <i class="tim-icons icon-app"> </i>
            </div>
            <div class="description">
              <h3 class="info-title">For Designers</h3>
              <p>
                The moment you use Black Kit, you know you've never felt
                anything like it. With a single use, this powerfull UI Kit lets
                you do more than ever before.
              </p>
            </div>
          </div>
          <div class="info info-horizontal info-default">
            <div class="icon icon-success">
              <i class="tim-icons icon-bell-55"> </i>
            </div>
            <div class="description">
              <h3 class="info-title">For Beginners</h3>
              <p>
                The moment you use Black Kit, you know you've never felt
                anything like it. With a single use, this powerfull UI Kit lets
                you do more than ever before.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-10">
          <img class="shape" src="assets/img/path2.png" />

          <figure class="ie-non-standard-hero-shape">
            <svg
              x="0px"
              y="0px"
              viewBox="10 12 878.9 907"
              style="enable-background: new 10 12 878.9 907"
              xml:space="preserve"
              class="injected-svg js-svg-injector"
            >
              <g>
                <defs>
                  <path
                    id="firstShape"
                    d="M329.15,403.44c30.22-62,26.51-223.94,94.06-268.46C479,98.23,560.16,257,700.68,151.61c71.25-53.44,85.54,81,160.38,172.6C1008.5,504.74,881.5,639.14,825.35,686.6c-62.54,52.85-246.14,24.42-386.7,79.28S214.07,834,202.07,702C190.39,573.57,288.69,486.43,329.15,403.44Z"
                  ></path>
                </defs>
                <clipPath id="secondShape">
                  <use xlink:href="#firstShape" style="overflow: visible"></use>
                </clipPath>
                <g clip-path="url(#secondShape)">
                  <image
                    id="imageShape1"
                    style="overflow: visible"
                    width="900"
                    height="900"
                    xlink:href="assets/img/max.jpg"
                    transform="matrix(0.9488 0 0 0.9488 25 53.1187)"
                  ></image>
                </g>
              </g>
              <g>
                <defs>
                  <path
                    id="thirdShape"
                    d="M337.17,855.62c-7.81-35.46,42.38-43.95,63.66-52.44,24.39-9.74,135.86-48,192.58-52.52,64.22-5.13,190.21-26.84,160.46,35.34-19.76,41.3-51.47,64.52-87.63,62.33-46.36-2.81-101.56,4.39-150.8,44C448.53,946.08,450.93,865,412,868,372.28,871,340.79,872.08,337.17,855.62Z"
                  ></path>
                </defs>
                <clipPath id="fourthShape">
                  <use xlink:href="#thirdShape" style="overflow: visible"></use>
                </clipPath>
                <g
                  transform="matrix(1 0 0 1 0 0)"
                  clip-path="url(#fourthShape)"
                >
                  <image
                    id="imageShape2"
                    style="overflow: visible"
                    width="900"
                    height="1000"
                    xlink:href="assets/img/max.jpg"
                    transform="matrix(0.9488 0 0 0.9488 25 53.1187)"
                  ></image>
                </g>
              </g>
            </svg>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
