<div class="cd-section" id="projects">
  <div class="projects-1">
    <div class="projects-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mr-auto ml-auto text-center mb-5">
            <h2 class="title">Some of Our Awesome Projects - 1</h2>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg bg-transparent mb-5">
        <div class="container">
          <div class="navbar-translate"><p>52 projects found</p></div>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" dropdown>
              <a
                aria-expanded="false"
                class="nav-link dropdown-toggle dropdown-toggle"
                data-toggle="dropdown"
                dropdownToggle
                href="javascript:void(0)"
                id="navbarOrder"
              >
                <p>A-to-Z</p>
              </a>
              <div
                aria-labelledby="navbarOrder"
                class="dropdown-menu dropdown-menu-right"
                *dropdownMenu
              >
                <a class="dropdown-item" href="javascript:void(0)"> Z-to-A </a>
                <a class="dropdown-item" href="javascript:void(0)"> Newest </a>
              </div>
            </li>
            <li class="nav-item dropdown" dropdown>
              <a
                aria-expanded="false"
                class="nav-link dropdown-toggle dropdown-toggle"
                data-toggle="dropdown"
                dropdownToggle
                href="javascript:void(0)"
                id="navbarLatest"
              >
                <p>Latest</p>
              </a>
              <div
                aria-labelledby="navbarLatest"
                class="dropdown-menu dropdown-menu-right"
                *dropdownMenu
              >
                <a class="dropdown-item" href="javascript:void(0)"> Newest </a>
                <a class="dropdown-item" href="javascript:void(0)">
                  High interest
                </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-header mt-2">
                <div class="float-left">
                  <i class="tim-icons icon-tag d-inline text-info"> </i>
                  <p class="d-inline">H-23</p>
                </div>
                <div class="float-right">
                  <div class="dropdown" dropdown>
                    <button
                      aria-expanded="false"
                      class="btn btn-link dropdown-toggle btn-icon dropdown-toggle"
                      data-toggle="dropdown"
                      dropdownToggle
                      type="button"
                    >
                      <i class="tim-icons icon-settings-gear-63"> </i>
                    </button>
                    <div
                      class="dropdown-menu dropdown-menu-right"
                      *dropdownMenu
                      x-placement="bottom-end"
                    >
                      <a class="dropdown-item" href="javascript:void(0)">
                        Action
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)">
                        Another action
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)">
                        Something else
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body text-center p-4">
                <a href="javascript:void(0)">
                  <img
                    alt="Circle image"
                    class="img-fluid rounded-circle shadow"
                    src="assets/img/slack.png"
                    style="width: 100px"
                  />
                </a>
                <h4 class="card-title mb-0">Slack</h4>
                <p class="card-description">
                  We are happy to work at such a great project.
                </p>
                <h5 class="card-title mt-4">Members</h5>
                <div class="avatar-group">
                  <a
                    class="avatar avatar-sm rounded-circle"
                    href="javascript:void(0)"
                  >
                    <img alt="Image placeholder" src="assets/img/james.jpg" />
                  </a>
                  <a
                    class="avatar avatar-sm rounded-circle"
                    href="javascript:void(0)"
                  >
                    <img alt="Image placeholder" src="assets/img/ryan.jpg" />
                  </a>
                  <a
                    class="avatar avatar-sm rounded-circle"
                    href="javascript:void(0)"
                  >
                    <img alt="Image placeholder" src="assets/img/lora.jpg" />
                  </a>
                  <a
                    class="avatar avatar-sm rounded-circle"
                    href="javascript:void(0)"
                  >
                    <img alt="Image placeholder" src="assets/img/mike.jpg" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header mt-2">
                <div class="float-left">
                  <i class="tim-icons icon-tag d-inline text-success"> </i>
                  <p class="d-inline">F-43</p>
                </div>
                <div class="float-right">
                  <div class="dropdown" dropdown>
                    <button
                      aria-expanded="false"
                      class="btn btn-link dropdown-toggle btn-icon dropdown-toggle"
                      data-toggle="dropdown"
                      dropdownToggle
                      type="button"
                    >
                      <i class="tim-icons icon-settings-gear-63"> </i>
                    </button>
                    <div
                      class="dropdown-menu dropdown-menu-right"
                      *dropdownMenu
                      x-placement="bottom-end"
                    >
                      <a class="dropdown-item" href="javascript:void(0)">
                        Action
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)">
                        Another action
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)">
                        Something else
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body text-center p-4">
                <a href="javascript:void(0)">
                  <img
                    alt="Circle image"
                    class="img-fluid rounded-circle shadow"
                    src="assets/img/spotify.jpeg"
                    style="width: 100px"
                  />
                </a>
                <h4 class="card-title mb-0">Spotify</h4>
                <p class="card-description">
                  We strive to embrace and drive change in our industry.
                </p>
                <h5 class="card-title mt-4">Members</h5>
                <div class="avatar-group">
                  <a
                    class="avatar avatar-sm rounded-circle"
                    href="javascript:void(0)"
                  >
                    <img alt="Image placeholder" src="assets/img/james.jpg" />
                  </a>
                  <a
                    class="avatar avatar-sm rounded-circle"
                    href="javascript:void(0)"
                  >
                    <img alt="Image placeholder" src="assets/img/ryan.jpg" />
                  </a>
                  <a
                    class="avatar avatar-sm rounded-circle"
                    href="javascript:void(0)"
                  >
                    <img alt="Image placeholder" src="assets/img/lora.jpg" />
                  </a>
                  <a
                    class="avatar avatar-sm rounded-circle"
                    href="javascript:void(0)"
                  >
                    <img alt="Image placeholder" src="assets/img/mike.jpg" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header mt-2">
                <div class="float-left">
                  <i class="tim-icons icon-tag d-inline text-danger"> </i>
                  <p class="d-inline">J-11</p>
                </div>
                <div class="float-right">
                  <div class="dropdown" dropdown>
                    <button
                      aria-expanded="false"
                      class="btn btn-link dropdown-toggle btn-icon dropdown-toggle"
                      data-toggle="dropdown"
                      dropdownToggle
                      type="button"
                    >
                      <i class="tim-icons icon-settings-gear-63"> </i>
                    </button>
                    <div
                      class="dropdown-menu dropdown-menu-right"
                      *dropdownMenu
                      x-placement="bottom-end"
                    >
                      <a class="dropdown-item" href="javascript:void(0)">
                        Action
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)">
                        Another action
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)">
                        Something else
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body text-center p-4">
                <a href="javascript:void(0)">
                  <img
                    alt="Circle image"
                    class="img-fluid rounded-circle shadow"
                    src="assets/img/dribbble.png"
                    style="width: 100px"
                  />
                </a>
                <h4 class="card-title mb-0">Dribbble</h4>
                <p class="card-description">
                  The time has come to bring our plans and ideas to life.
                </p>
                <h5 class="card-title mt-4">Members</h5>
                <div class="avatar-group">
                  <a
                    class="avatar avatar-sm rounded-circle"
                    href="javascript:void(0)"
                  >
                    <img alt="Image placeholder" src="assets/img/james.jpg" />
                  </a>
                  <a
                    class="avatar avatar-sm rounded-circle"
                    href="javascript:void(0)"
                  >
                    <img alt="Image placeholder" src="assets/img/ryan.jpg" />
                  </a>
                  <a
                    class="avatar avatar-sm rounded-circle"
                    href="javascript:void(0)"
                  >
                    <img alt="Image placeholder" src="assets/img/lora.jpg" />
                  </a>
                  <a
                    class="avatar avatar-sm rounded-circle"
                    href="javascript:void(0)"
                  >
                    <img alt="Image placeholder" src="assets/img/mike.jpg" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header mt-2">
                <div class="float-left">
                  <i class="tim-icons icon-tag d-inline text-warning"> </i>
                  <p class="d-inline">A-11</p>
                </div>
                <div class="float-right">
                  <div class="dropdown" dropdown>
                    <button
                      aria-expanded="false"
                      class="btn btn-link dropdown-toggle btn-icon dropdown-toggle"
                      data-toggle="dropdown"
                      dropdownToggle
                      type="button"
                    >
                      <i class="tim-icons icon-settings-gear-63"> </i>
                    </button>
                    <div
                      class="dropdown-menu dropdown-menu-right"
                      *dropdownMenu
                      x-placement="bottom-end"
                    >
                      <a class="dropdown-item" href="javascript:void(0)">
                        Action
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)">
                        Another action
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)">
                        Something else
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body text-center p-4">
                <a href="javascript:void(0)">
                  <img
                    alt="Circle image"
                    class="img-fluid rounded-circle shadow"
                    src="assets/img/Tim.png"
                    style="width: 100px"
                  />
                </a>
                <h4 class="card-title mb-0">Develpor</h4>
                <p class="card-description">
                  We are developing the best design projects.
                </p>
                <h5 class="card-title mt-4">Members</h5>
                <div class="avatar-group">
                  <a
                    class="avatar avatar-sm rounded-circle"
                    href="javascript:void(0)"
                  >
                    <img alt="Image placeholder" src="assets/img/james.jpg" />
                  </a>
                  <a
                    class="avatar avatar-sm rounded-circle"
                    href="javascript:void(0)"
                  >
                    <img alt="Image placeholder" src="assets/img/ryan.jpg" />
                  </a>
                  <a
                    class="avatar avatar-sm rounded-circle"
                    href="javascript:void(0)"
                  >
                    <img alt="Image placeholder" src="assets/img/lora.jpg" />
                  </a>
                  <a
                    class="avatar avatar-sm rounded-circle"
                    href="javascript:void(0)"
                  >
                    <img alt="Image placeholder" src="assets/img/mike.jpg" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header mt-2">
                <div class="float-left">
                  <i class="tim-icons icon-tag d-inline text-primary"> </i>
                  <p class="d-inline">A-11</p>
                </div>
                <div class="float-right">
                  <div class="dropdown" dropdown>
                    <button
                      aria-expanded="false"
                      class="btn btn-link dropdown-toggle btn-icon dropdown-toggle"
                      data-toggle="dropdown"
                      dropdownToggle
                      type="button"
                    >
                      <i class="tim-icons icon-settings-gear-63"> </i>
                    </button>
                    <div
                      class="dropdown-menu dropdown-menu-right"
                      *dropdownMenu
                      x-placement="bottom-end"
                    >
                      <a class="dropdown-item" href="javascript:void(0)">
                        Action
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)">
                        Another action
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)">
                        Something else
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body text-center p-4">
                <a href="javascript:void(0)">
                  <img
                    alt="Circle image"
                    class="img-fluid rounded-circle shadow"
                    src="assets/img/dropbox.png"
                    style="width: 100px"
                  />
                </a>
                <h4 class="card-title mb-0">DropBox</h4>
                <p class="card-description">
                  It is important to save every project safely with our app.
                </p>
                <h5 class="card-title mt-4">Members</h5>
                <div class="avatar-group">
                  <a
                    class="avatar avatar-sm rounded-circle"
                    href="javascript:void(0)"
                  >
                    <img alt="Image placeholder" src="assets/img/james.jpg" />
                  </a>
                  <a
                    class="avatar avatar-sm rounded-circle"
                    href="javascript:void(0)"
                  >
                    <img alt="Image placeholder" src="assets/img/ryan.jpg" />
                  </a>
                  <a
                    class="avatar avatar-sm rounded-circle"
                    href="javascript:void(0)"
                  >
                    <img alt="Image placeholder" src="assets/img/lora.jpg" />
                  </a>
                  <a
                    class="avatar avatar-sm rounded-circle"
                    href="javascript:void(0)"
                  >
                    <img alt="Image placeholder" src="assets/img/mike.jpg" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header mt-2">
                <div class="float-left">
                  <i class="tim-icons icon-tag d-inline"> </i>
                  <p class="d-inline">E-28</p>
                </div>
                <div class="float-right">
                  <div class="dropdown" dropdown>
                    <button
                      aria-expanded="false"
                      class="btn btn-link dropdown-toggle btn-icon dropdown-toggle"
                      data-toggle="dropdown"
                      dropdownToggle
                      type="button"
                    >
                      <i class="tim-icons icon-settings-gear-63"> </i>
                    </button>
                    <div
                      class="dropdown-menu dropdown-menu-right"
                      *dropdownMenu
                      x-placement="bottom-end"
                    >
                      <a class="dropdown-item" href="javascript:void(0)">
                        Action
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)">
                        Another action
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)">
                        Something else
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body text-center p-4">
                <a href="javascript:void(0)">
                  <img
                    alt="Circle image"
                    class="img-fluid rounded-circle shadow"
                    src="assets/img/unass.jpg"
                    style="width: 100px"
                  />
                </a>
                <h4 class="card-title mb-0">Unassigned</h4>
                <p class="card-description">
                  Here you can add your description and bellow add your members.
                </p>
                <h5 class="card-title mt-4">Members</h5>
                <div class="avatar-group">
                  <a
                    class="avatar avatar-sm rounded-circle"
                    href="javascript:void(0)"
                  >
                    <i class="tim-icons icon-lock-circle"> </i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="mt-5">
          <pagination class="float-left" [(ngModel)]="page" [totalItems]="40">
          </pagination>
          <div class="text-right">
            <p>Showing 6 out of 36</p>
            <div></div>
          </div>
        </footer>
      </div>

      <div class="projects-3">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center mb-5">
              <h6 class="category text-muted">Our work</h6>
              <h2 class="title mt-0">Some of Our Awesome Projects - 3</h2>
            </div>
          </div>
          <div class="space-50"></div>
          <div class="row">
            <div class="col-md-6">
              <div class="card card-blog card-plain">
                <div class="card-header">
                  <h2 class="title">Passions</h2>
                  <span class="badge badge-danger"> Methods </span>
                  <span class="badge badge-info"> Purposes </span>
                </div>
                <div class="card-image">
                  <a href="javascript:void(0)">
                    <img
                      class="img rounded img-raised"
                      src="assets/img/card-blog2.jpg"
                    />
                  </a>
                </div>
                <div class="card-footer text-left">
                  <div class="author">
                    <button class="btn btn-primary btn-round btn-simple">
                      <i class="tim-icons icon-triangle-right-17"> </i> View
                      project details
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card card-blog card-plain">
                <div class="card-header">
                  <h2 class="title">Habits</h2>
                  <span class="badge badge-success"> Informations </span>
                </div>
                <div class="card-image">
                  <a href="javascript:void(0)">
                    <img
                      class="img rounded img-raised"
                      src="assets/img/chester-wade.jpg"
                    />
                  </a>
                </div>
                <div class="card-footer text-left">
                  <div class="author">
                    <button class="btn btn-success btn-round btn-simple">
                      Find out more
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="space-50"></div>
          <div class="row">
            <div class="col-md-6">
              <div class="card card-blog card-plain">
                <div class="card-header">
                  <h2 class="title">Sport</h2>
                  <span class="badge badge-warning"> Healthy </span>
                  <span class="badge badge-primary"> Young </span>
                </div>
                <div class="card-image">
                  <a href="javascript:void(0)">
                    <img
                      class="img rounded img-raised"
                      src="assets/img/fabien-bazanegue.jpg"
                    />
                  </a>
                </div>
                <div class="card-footer text-left">
                  <div class="author">
                    <button class="btn btn-warning btn-round btn-simple">
                      Read more
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card card-blog card-plain">
                <div class="card-header">
                  <h2 class="title">Nights</h2>
                  <span class="badge badge-success"> City </span>
                  <span class="badge badge-info"> Urban </span>
                  <span class="badge badge-warning"> Traffic </span>
                </div>
                <div class="card-image">
                  <a href="javascript:void(0)">
                    <img
                      class="img rounded img-raised"
                      src="assets/img/mark-finn.jpg"
                    />
                  </a>
                </div>
                <div class="card-footer text-left">
                  <div class="author">
                    <button class="btn btn-info btn-round btn-simple">
                      <i class="tim-icons icon-minimal-right"> </i> Go to page
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
