<div class="cd-section" id="pricing">
  <div class="pricing-3" id="pricing-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h2 class="title">Pick the best plan for you</h2>
        </div>
      </div>
      <div class="space-50"></div>
      <div class="row">
        <div class="container">
          <div class="card">
            <div class="row">
              <div class="col-md-4 pr-0">
                <div class="card card-pricing card-plain">
                  <div class="card-header">
                    <h4 class="title">Team</h4>
                    <p class="description">
                      All core features you need to track your expenses
                    </p>
                    <h1 class="card-title">$299</h1>
                    <h5 class="mt-2">billed annually</h5>
                  </div>
                  <div class="card-body">
                    <ul>
                      <li><i class="tim-icons icon-check-2"> </i> 1000 MB</li>
                      <li><i class="tim-icons icon-email-85"> </i> 5 emails</li>
                      <li>
                        <i class="tim-icons icon-chart-bar-32"> </i> 5 Databases
                      </li>
                      <li>
                        <i class="tim-icons icon-alert-circle-exc"> </i>
                        No Support
                      </li>
                    </ul>
                    <a class="btn btn-primary mt-4" href="javascript:void(0)">
                      Get started
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 p-0">
                <div class="card card-pricing card-plain">
                  <div class="card-header">
                    <h4 class="title">Growth</h4>
                    <p class="description">
                      Create your perfect plan for your business or project
                    </p>
                    <h1 class="card-title">$499</h1>
                    <h5 class="mt-2">billed annually</h5>
                  </div>
                  <div class="card-body">
                    <ul>
                      <li><i class="tim-icons icon-check-2"> </i> 5000 MB</li>
                      <li>
                        <i class="tim-icons icon-email-85"> </i> 50 emails
                      </li>
                      <li>
                        <i class="tim-icons icon-chart-bar-32"> </i> 10
                        Databases
                      </li>
                      <li>
                        <i class="tim-icons icon-alert-circle-exc"> </i>
                        Premium Support
                      </li>
                    </ul>
                    <a class="btn btn-primary mt-4" href="javascript:void(0)">
                      Get started
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 pl-0">
                <div class="card card-pricing card-plain">
                  <div class="card-header">
                    <h4 class="title">Enterprises</h4>
                    <p class="description">
                      Go to the next level and add value to your customers
                    </p>
                    <h1 class="card-title">$599</h1>
                    <h5 class="mt-2">billed annually</h5>
                  </div>
                  <div class="card-body">
                    <ul>
                      <li><i class="tim-icons icon-check-2"> </i> 10.000 MB</li>
                      <li>
                        <i class="tim-icons icon-email-85"> </i> Unlimited
                        emails
                      </li>
                      <li>
                        <i class="tim-icons icon-chart-bar-32"> </i> 50
                        Databases
                      </li>
                      <li>
                        <i class="tim-icons icon-alert-circle-exc"> </i>
                        Premium Support
                      </li>
                    </ul>
                    <a class="btn btn-primary mt-4" href="javascript:void(0)">
                      Get started
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
