<div class="cd-section" id="contactus">
  <div class="contactus-3">
    <div class="page-header header-filter">
      <div
        class="page-header-image"
        style="background-image: url('assets/img/andre-benz.jpg')"
      ></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="title">Got a question?</h1>
            <h3>We'd like to talk more about what you need</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="info info-hover">
            <div class="icon icon-primary">
              <img class="bg-blob" src="assets/img/feature-blob/primary.png" />

              <i class="tim-icons icon-square-pin"> </i>
            </div>
            <h4 class="info-title">Address</h4>
            <p class="description">12124 First Street, nr 54</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="info info-hover">
            <div class="icon icon-info">
              <img class="bg-blob" src="assets/img/feature-blob/info.png" />

              <i class="tim-icons icon-email-85"> </i>
            </div>
            <h4 class="info-title">Email</h4>
            <p class="description">supportyouremail.com</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="info info-hover">
            <div class="icon icon-warning">
              <img class="bg-blob" src="assets/img/feature-blob/warning.png" />

              <i class="tim-icons icon-mobile"> </i>
            </div>
            <h4 class="info-title">Phone Number</h4>
            <p class="description">+1(424) 535 3523</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="info info-hover">
            <div class="icon icon-success">
              <img class="bg-blob" src="assets/img/feature-blob/success.png" />

              <i class="tim-icons icon-single-02"> </i>
            </div>
            <h4 class="info-title">Contact</h4>
            <p class="description">Andrew Samian</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contactus-4">
    <div class="map" id="contactUs2Map"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h1 class="title">Get in Touch</h1>
          <h4 class="description text-white">
            Do you need more information? Please contact us to find more about
            our products and services.
          </h4>
        </div>
        <div class="col-md-12 m-auto">
          <div class="card card-contact card-raised">
            <div class="row">
              <div class="col-md-8">
                <form class="p-3" id="contact-form" method="post" role="form">
                  <div class="card-header">
                    <h4 class="card-title">Send us a message</h4>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <label> First name </label>
                        <div
                          class="input-group"
                          [ngClass]="{
                            'input-group-focus': focus5 === true
                          }"
                        >
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="tim-icons icon-single-02"> </i>
                            </span>
                          </div>
                          <input
                            aria-label="First Name..."
                            class="form-control"
                            placeholder="First Name..."
                            type="text"
                            (focus)="focus5 = true"
                            (blur)="focus5 = false"
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label> Last name </label>
                          <div
                            class="input-group"
                            [ngClass]="{
                              'input-group-focus': focus6 === true
                            }"
                          >
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="tim-icons icon-caps-small"> </i>
                              </span>
                            </div>
                            <input
                              aria-label="Last Name..."
                              class="form-control"
                              placeholder="Last Name..."
                              type="text"
                              (focus)="focus6 = true"
                              (blur)="focus6 = false"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label> Email address </label>
                      <div
                        class="input-group"
                        [ngClass]="{
                          'input-group-focus': focus7 === true
                        }"
                      >
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="tim-icons icon-email-85"> </i>
                          </span>
                        </div>
                        <input
                          class="form-control"
                          placeholder="Email Here..."
                          type="text"
                          (focus)="focus7 = true"
                          (blur)="focus7 = false"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label> Your message </label>
                      <textarea
                        class="form-control"
                        id="message"
                        name="message"
                        rows="6"
                      ></textarea>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" />

                            <span class="form-check-sign"> </span> I'm not a
                            robot
                          </label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <button
                          class="btn btn-primary btn-round pull-right"
                          type="submit"
                        >
                          Send Message
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-md-4">
                <div class="info text-left bg-info">
                  <h4 class="card-title">Contact information</h4>
                  <div class="info info-horizontal mt-5">
                    <div class="icon">
                      <i class="tim-icons icon-square-pin"> </i>
                    </div>
                    <div class="description">
                      <h5 class="info-title">
                        345 Street 2 <br />

                        Creative Tim Tour
                      </h5>
                    </div>
                  </div>
                  <div class="info info-horizontal">
                    <div class="icon">
                      <i class="tim-icons icon-mobile"> </i>
                    </div>
                    <div class="description">
                      <h5 class="info-title">+16(3412) 421 241</h5>
                    </div>
                  </div>
                  <div class="info info-horizontal">
                    <div class="icon">
                      <i class="tim-icons icon-email-85"> </i>
                    </div>
                    <div class="description">
                      <h5 class="info-title">contacyourwebsite.com</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
