<div class="cd-section" id="testimonials">
  <div class="testimonials-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h2 class="title">What Clients Say</h2>
        </div>
      </div>
      <div class="row">
        <carousel [showIndicators]="false">
          <slide>
            <div class="info text-left bg-danger">
              <div class="icon icon-white">
                <i class="fa fa-quote-right"></i>
              </div>
              <p class="description text-white">
                Take up one idea. Make that one idea your life - think of it,
                dream of it, live on that idea. Let the brain, muscles, nerves,
                every part of your body, be full of that idea, and just leave
                every other idea alone. This is the way to success. A single
                rose can be my garden... a single friend, my world.
              </p>
              <div class="author">
                <img
                  src="assets/img/p10.jpg"
                  alt="..."
                  class="avatar img-raised"
                />
                <span>Mike John</span>
              </div>
            </div>
            <div class="card card-blog card-background" data-animation="true">
              <div
                class="full-background"
                style="
                  background-image: url('assets/img/marc-olivier-jodoin.jpg');
                "
              ></div>
              <div class="card-body">
                <div class="content-bottom ml-auto">
                  <a
                    href="javascript:void(0)"
                    class="btn btn-round btn-simple btn-neutral"
                    >Read more</a
                  >
                </div>
              </div>
            </div>
          </slide>
          <slide>
            <div class="info text-left bg-info">
              <div class="icon icon-white">
                <i class="fa fa-quote-right"> </i>
              </div>
              <p class="description text-white">
                Take up one idea. Make that one idea your life - think of it,
                dream of it, live on that idea. Let the brain, muscles, nerves,
                every part of your body, be full of that idea, and just leave
                every other idea alone. This is the way to success. A single
                rose can be my garden... a single friend, my world.
              </p>
              <div class="author">
                <img
                  alt="..."
                  class="avatar img-raised"
                  src="assets/img/olivia.jpg"
                />

                <span> Andrew Lino </span>
              </div>
            </div>
            <div class="card card-blog card-background" data-animation="true">
              <div
                class="full-background"
                style="background-image: url('assets/img/contact1.jpg')"
              ></div>
              <div class="card-body">
                <div class="content-bottom ml-auto">
                  <a
                    class="btn btn-round btn-simple btn-neutral"
                    href="javascript:void(0)"
                  >
                    Read more
                  </a>
                </div>
              </div>
            </div>
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</div>
